@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Responsive Video iFrames */
.responsive-video-iframe {
  width: 100%; /* Make iframe take full width of its container */
  max-width: 100%; /* Ensure it doesn't overflow its container */
  aspect-ratio: 16 / 9; /* Maintain a 16:9 aspect ratio */
  height: auto; /* Allow height to adjust based on width and aspect-ratio, also fallback */
  border: none; /* Remove default iframe border if any */
}
